<div class="row" style="margin-bottom: 4em;"></div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title">Items del carrito</h3>
		  </div>
		  <div class="panel-body">
			<div class="row">
				<table class="table table-striped table-hover ">
			  		<thead>
			  			<th>Nombre</th>
			  			<th>Descripcion</th>
			  			<th>Cantidad</th>
			  			<th  style="text-align: right !important;">Precio</th>
			  		</thead>
			  		<tbody id="cart-item-container">
			  			
			  		</tbody>
			  	</table>
			</div>

			<div class="row">
				<span class="pull-right">Subtotal: <span class="subtotal" id="subtotal"></span></span>
			</div>
			<div class="row">
				<div onclick="afterCheckout()" class="btn btn-raised btn-success pull-right">Procedar al pago</div>
			</div>
		    
		  </div>
		</div>
	</div>
</div>

<div id="data_model_name" data-your-data="<%= @items.to_json %>">
<script id="cart-item-template-tr" type="text/x-handlebars-template">
<tr id="content_{{id}}"  >
	<td>{{name}}</td>
	<td>{{description}}</td>
	<td>
		<div class="input-group" >
			<span class="input-group-btn">
				<button type="button" class="btn btn-default btn-number"  onclick="minus_item({{index}})">
					<span class="glyphicon glyphicon-minus"></span>
				</button>
			</span>
			<input type="text" name="quant[{{id}}]" class="form-control input-number" value="{{quantity}}" >
			<span class="input-group-btn">
				<button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[{{id}}]" onclick="plus_item({{index}})">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</span>
		</div>
	</td>
	<td>{{price}}</td>
</tr>
</script>

<script id="cart-item-template-tr-inner" type="text/x-handlebars-template">
		<td>{{name}}</td>
	<td>{{description}}</td>
	<td>
		<div class="input-group" >
			<span class="input-group-btn">
				<button type="button" class="btn btn-default btn-number"  onclick="minus({{index}})">
					<span class="glyphicon glyphicon-minus"></span>
				</button>
			</span>
			<input type="text" name="quant[{{id}}]" class="form-control input-number" value="{{quantity}}" >
			<span class="input-group-btn">
				<button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[{{id}}]" onclick="plus_item({{index}})">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</span>
		</div>
	</td>
	<td>{{price}}</td>
</script>

<script>
buildCartTable();
	//buildCartContainer();

</script>


