<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card padding-largo">
        <div class="row">
          <h3 class="text-center">
            Crear cuenta
          </h3>
        </div>

        <div class="row padding-largo">

          
      <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <fieldset>
        <%= devise_error_messages! %>

        <div class="form-group">
          <div class="col-md-6">
            <label for="">Nombre</label>
            <%= f.text_field :name, autofocus: true,class: 'form-control' %>
          </div>
          <div class="col-md-6">
            <label for="">Apellido</label>
            <%= f.text_field :lastname, autofocus: true,class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <%= f.label :password, "Contraseña" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres minimo)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off",class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <%= f.label :password_confirmation, "Repetir Contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off",class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
        <div class="col-md-3 col-md-offset-4">
          <%= f.submit "Registrarse", class: ' btn btn-raised btn-info' %>
          </div>
        </div>
      <% end %>

</fieldset>
      <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

