<div class="row" style="margin-bottom: 4em;"></div>

<div class="row">
	<div class="col-md-12 card padding-largo">
		<div class="row">
			<h3>Metodos de pago</h3>
		</div>
			<div class="metodos-de-pago">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tarjeta</a></li>
			    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Paypal</a></li>
			    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Oxxo</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel padding-largo" class="tab-pane active" id="home">
			    	<div class="">
			
			<div class="row  padding-largo">
				<div class="col-md-6 ">
					<div class="row">
				<h3 class="text-center">Datos de envio</h3>
			</div>
					<div class="row">
						<div class="col-md-12">
							<form action="">
									<div class="row">
										<div class="col-md-12">
											
											<div class="">
												<label for="" class="">Nombre</label>

										      <div class="">
											        <input class="form-control" id="shipping_name" placeholder="" type="text">
											      </div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="">
												<label for="">Direccion</label>
												<input type="text" class="form-control" id="shipping_dir">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<label for="">Estado</label>
											<input type="text" class="form-control" id="shipping_estado">
										</div>
										<div class="col-sm-6">
											<label for="">Cuidad</label>
											<input type="text" class="form-control" id="shipping_city">
										</div>
										
									</div>
									<div class="row">
									<div class="col-sm-6">
											<label for="">Colonia/Fraccionamiento</label>
											<input type="text" class="form-control" id="shipping_col">
										</div>
										<div class="col-md-6">
											<div class="">
												<label for="">Codigo Postal</label>
												<input type="text" class="form-control" id="shipping_postal" > 
											</div>
											
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<label for="">Referencias</label>
											<textarea name="" id="shipping_ref" cols="10" rows="3" class="form-control"></textarea>
										</div>
									</div>

							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6 ">
					<input type="hidden" name="order_folio" value="<%= @order.folio %>" id="order_folio">
		    <input type="hidden" name="order_id" value="<%=@order.id%>" id="order_id">
		    <input type="hidden" name="conekta_token" value="" id="conektaTokenId">
		    <input type="hidden" name="uid" value="<%=current_user.id%>" id="uid">
		    <span class="card-errors"></span>
		    <div  class="form-group">
		      
		        <div class="col-md-12">
		        	<label>Nombre del tarjetahabiente</label>
		      	  <input size="20" data-conekta="card[name]" type="text" class="form-control" id="card_name">
		      
		        </div>
		    </div>
		    <div class="form-group">
		        <div class="col-md-12">
		        	<label>Número de tarjeta de crédito</label>
		        <input size="20" data-conekta="card[number]" type="text" class="form-control" id="card_number">
		        </div>
		    </div>
		    <div class="form-group">
		      <div class="col-md-12">
		      	<label>CVC</label>
		        <input size="4" data-conekta="card[cvc]" type="text" class="form-control" id="card_cvc">
		      </div>
		    </div>
		    <div class="row">
		    	<label>Fecha de expiración (MM/AAAA)</label>
		    </div>
		    <div class="form-group">
		    
		    	<div class="col-md-12">
		    		
		    	<div class="col-md-6 col-sd-6 ">
		        	<input size="2" data-conekta="card[exp_month]" type="text" class="form-control" placeholder="mes" id="card_month">
		    	</div>
		    	<div class="col-md-6 col-sd-6 ">
		    		<input size="4" data-conekta="card[exp_year]" type="text" class="form-control" placeholder="año" id="card_year">		
		    	</div>
		    	</div>
		      
		    </div>
		    <div class="form-group">
		    	<div class="btn btn-raised btn-info" onclick="createToken()">Terminar compra</div>
		    </div>
				</div>
			</div>
		</div>
			    </div>
			    <div role="tabpanel" class="tab-pane padding-largo" id="profile">
			    	<div class="" id="paypal-button"></div>
			    </div>
			    <div role="tabpanel" class="tab-pane padding-largo" id="messages">3</div>
			  </div>

			</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		
	</div>
</div>




<!-- Modal Tarjeta -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pago con tarjeta</h4>
      </div>
      <div class="modal-body">
         
		    
		    <!-- <button type="submit">Crear token</button> -->
		  <!-- </form> -->
		  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>
<!-- Fin modal tarjeta -->

<input type="text" value="<%=@subtotal%>" id="subtotal_2" style="display: none !important;">
<!-- #card-element -->
<script type="text/javascript" >
paypal.Button.render({

        env: 'sandbox', // Or 'sandbox'

        client: {
            sandbox:    'ASTFXnPBe6hPftgqHS-g-avganUXN8xx9EPMZaukN0cEiIF2sdNQHXJ79h7gfz0xvKIBaA8tpVqjB-Gz',
            production: 'xxxxxxxxx'
        },

        commit: true, // Show a 'Pay Now' button

        payment: function(data, actions) {
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: '<%=@subtotal%>', currency: 'MXN' }
                        }
                    ]
                }
            });
        },

        onAuthorize: function(data, actions) {
            return actions.payment.execute().then(function(payment) {

            	console.log(payment);
            	swal("Pago aceptado");
            	payWithPayPay(payment, <%=@order.id%>);
            });
        }

    }, '#paypal-button');
</script>
