<%= form_for([:admin,brand]) do |f| %>
  <% if brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions">
      <%= f.submit @text, class: "btn btn-raised btn-info"%>
    </div>
<% end %>
