
<div class="row">
        <div class="col-md-10">
            <div class="card padding-largo">
                <div class="row">
                    <h3>Nueva Marca</h3>
                </div>
                <div class="row">
                    <%= render 'form',  brand: @brand %>
                </div>
                <div class="row">
                    <%= link_to 'Regresar', admin_brands_path %>
                </div>
            </div>
        </div>
    </div>
    
    