<div class="navbar navbar-default navbar-fixed-top primary ">
  <div class="container-fluid">
    <div class="navbar-header primary">
      <button type="button" class="navbar-toggle primary" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Geeklab Store</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/products">Productos</a></li>
        <li class="dropdown">
          <a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Categorias
            <b class="caret"></b></a>


          <ul class="dropdown-menu">
            <%@categorias.each do |cat|%>
            <li><%= link_to "#{cat.name}".upcase, cat%></li>
            <%end%>
            
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input class="form-control col-sm-8" placeholder="Buscar" type="text">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <%if user_signed_in?%>
          
          <%if current_user.level == 1%>
            <li><%= link_to "Administracion", admin_root_path%></li>
          <%end%>

          <li class="dropdown">
            <a href="http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Mi Cuenta
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="<%=edit_user_registration_url%>">Ver Detalles de cuenta</a></li>
              <li><a href="<%= mis_compras_path%>">Mis compras</a></li>
              <li class="divider"></li>
              <li><%= link_to 'Cerrar sesion', destroy_user_session_path, :method=>'delete' %></li>
            </ul>
          </li>
        <%else%>
          <li>  <%= link_to('Ingresar', new_user_session_path)  %>  </li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
