<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card padding-largo">
        <div class="row">
          <h3 class="text-center">Iniciar Sesion</h3>
        </div>
        <div class="row padding-largo">
          <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
          <fieldset>
  <div class="form-group">
    <%= f.label :email, "Correo Electronico" %><br />
    <%= f.email_field :email, autofocus: true,class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Contraseña" %><br />
    <%= f.password_field :password, autocomplete: "off",class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="">
    <label >
      <%= f.check_box :remember_me %> Recordarme
    </label>
      
      
    </div>
  <% end -%>
  <div class="form-group">
      <div class="col-md-3 col-md-offset-4">
    <%= f.submit "Iniciar Sesion", class: ' btn btn-raised btn-info' %>
  </div>
  </div>

<% end %>
  </fieldset>
<%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </div>
</div>
