<div class="row">
	<div class="col-md-2 col-sd-12 card padding-largo">
		<div class="row">
			<h3>Mis Compras</h3>
		</div>
		<div class="row">
			<table class="table">
				<thead></thead>
				<tbody>
					<%@orders.each do |order|%>
						<tr>
							<td>
								<%=order.amount%>
							</td>
						</tr>
					<%end%>
				</tbody>
			</table>
		</div>
	</div>
</div>