<div class="row">
        <div class="col-md-10">
            <div class="card padding-largo">
                <div class="row">
                    <h3>Nueva Categoria</h3>
                </div>
                <div class="row">
                    <%= render 'form',  category: @category %>
                </div>
                <div class="row">
                    <%= link_to 'Regresar', admin_categories_path %>
                </div>
            </div>
        </div>
    </div>
    
    