<%= form_for([:admin,product], :html => {:multipart => true} ) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :name, "Nombre" %>
        <%= f.text_field :name,class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
       <div class="form-group">
        <%= f.label :model,"Modelo"%>
        <%= f.text_field :model,class: 'form-control' %>
      </div>
    </div>
        <div class="col-md-3">
      <div class="form-group">
      <%= f.label :brand_id, "Marca", class: '' %>
      <select name="product[brand_id]" id="" class="form-control">
        <option value=""></option>
        <%@brands.each do |b|%>
          <option value="<%=b.id%>"><%=b.name%></option>
        <%end%>
      </select>
      
    </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :price, "Precio" %>
        <%= f.text_field :price,class: 'form-control' %>
      </div>
    </div>

  </div>
  
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
    <%= f.label :description, "Descripcion" %>
    <%= f.text_area :description,class: 'form-control' %>
  </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Categorias</label>
        <%@categories.each do |cat|%>
          <%= check_box_tag "categories[]", cat.id%> <%= "#{cat.name}".upcase%>
        <%end%>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Seleccionar Imagen</label>
      <input id="inputFile4" multiple="" type="file">
      <div class="input-group">
        <%= f.file_field :image,class: 'form-control', placeholder: "Seleccionar Imagen" %>
          <span class="input-group-btn input-group-sm">
            <button type="button" class="btn btn-info btn-fab btn-fab-mini">
              <i class="material-icons">attach_file</i>
            </button>
          </span>
      </div>
    </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
        <div class="actions">
          <%= f.submit "Crear producto" , class: "btn btn-raised btn-info"%>
        </div>
    </div>
  </div>


  


<% end %>
