
<div class="row">
  <div class="col-md-12">
    <div class="padding-largo">
      
      <div class="panel panel-info custom-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Lista de productos</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead></thead>
          <tbody>
            <%@products.each do |p|%>
              <tr>
                <td>
                  <%=p.name%>
                </td>
                <td>
                  <%=p.model%>
                </td>

               
                <td>
                  <%=p.price%>
                </td>

                <td>
                  <%=p.brand.name%>
                </td>

                <td>
                <%= link_to 'Ver', admin_product_path(p) %>
                <%= link_to 'Editar', edit_admin_product_path(p) %>
                <%= link_to 'Eliminar', admin_product_path(p), method: :delete, data: { confirm: '¿Estas seguro de eliminarlo?' } %></td>

              </tr>
            <%end%>
          </tbody>
        </table>

        <div class="row">
          <div class="" style="margin: 0 auto;">
          <%= will_paginate @products, renderer: BootstrapPagination::Rails  %>
        </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>


<div class="float-btn">
  <a href="/admin/products/new" class="btn btn-info btn-fab accent-color" data-toggle="tooltip" data-placement="left" title="" data-original-title="Agregar Producto">
    <i class="material-icons">add</i>
  </a>
</div>
