<div class="row">
	<div class="col-md-10">
		<div class="card padding-largo">
			<div class="row">
				<h3>Nuevo Producto</h3>
			</div>
			<div class="row">
				<%= render 'form', product: @product %>
			</div>
			<div class="row">
				<%= link_to 'Regresar', admin_products_path %>
			</div>
		</div>
	</div>
</div>



