<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><%= link_to "Inicio", admin_root_path %></li>
    <li><%= link_to "Productos", admin_products_path %></li>
    <li class="active"><%= "#{@product.name}".upcase %></li>
  </ul>
  </div>
</div>

<div class="row" style="margin-top: 2em;">
  <div class="col-md-12">
    <div class="card">
      <div class="row">
        <div class="col-md-4">

          <img src="<%=@product.image.url%>" alt="" class="img-responsive" style="margin-left: -1.1em;">
        </div>
        <div class="col-md-8" >
          <div class="row">
            <h3><%= @product.name %></h3>
          </div>
          <div class="row">
            <p class="sub-header">Modelo: <%= @product.model %> <span style="margin-left: 2em;">Marca: <%= @product.brand.name %></span> </p>
            <p class="price"> $ <%= @product.price %></p>
            <p class="desc">
              <%= @product.description %>
            </p>
            <p class="categories">
            <ul class="nav nav-pills">
            <% @product.has_categories.each do |has_category| %>
                <li class="active"><a href="javascript:void(0)"><%= "#{has_category.category.name}".upcase%></span></a></li>
              <%end%>
              
            </ul>
              
            </p>
          </div>
          <div class="row">
            <%= link_to "Editar", edit_admin_product_path(@product), class: 'btn btn-raised btn-success '%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>