
	
	




<ol class="breadcrumb">
  <li><a href="" class="active"><%="#{@category.name}".upcase%></a></li>
  
</ol>

<div class="container-fluid">
	<div class="row">	
		<div id="main-content">
			<div class="products">
				<% @category.has_categories.each do |c| %>

					<div class="product card">
						<img class="responsive-img" src="<%=c.product.image%>" alt="">
						<p class="title">
						<%= link_to c.product.name, c.product, class: "text"%>
						<a href="/products/<%=c.product.id%>" alt="Ver detalles" class="more btn btn-info btn-fab btn-fab-mini" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mas detalles">
						<i class="material-icons">add</i></a>
						</p>
						<p class="price">$<%=c.product.price%></p>
						<div class="btn-wrapper">
							<button id="add-to-cart_<%=c.product.id%>" class="btn btn-raised btn-info" >Agregar al carrito</button>	
						</div>
					</div>
				<%end%>

			</div>
		</div>
	</div>

</div>