
<ol class="breadcrumb">
  <li><a href="#" class="active">Productos</a></li>
  
</ol>

<div class="container-fluid">
  <div class="row"> 
    <div id="main-content">
      <div class="products">
        <%@products.each do |product|%>
          <div class="product card">
            <img class="responsive-img" src="<%=product.image.url%>" alt="">
            <p class="title"><%=product.name%>
            <a href="/products/<%=product.id%>" alt="Ver detalles" class=" more btn btn-info btn-fab btn-fab-mini" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mas detalles">
            <i class="material-icons">send</i></a>
            </p>
            <p class="price">$<%=product.price%></p>
            <div class="btn-wrapper">
              <button onclick='add_to_shopping_cart("<%=product.id%>")' id="add-to-cart_<%=product.id%>" class="btn btn-raised btn-info" >Agregar al carrito</button>  
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>


<div class="row">
  <div class="" style="margin: 0 auto;">
  <%= will_paginate @products, renderer: BootstrapPagination::Rails  %>
</div>
</div>
</div>

