<!DOCTYPE html>
<html>
  <head>
    <title><%=ENV['STORE_NAME']%></title>
    <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="http://code.jquery.com/jquery-2.2.0.min.js" ></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet"> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    


  </head>

  <body >

  <%=render 'partials/nav'%>


<div class="container" style="margin-top: 4em;">
	<div class="padding-largo">
		<%= yield %>
	</div>
</div>

<div class="float-btn">
  <div class="btn btn-info btn-fab" data-toggle="modal" data-target="#myModal2">
    <i class="material-icons">shopping_cart</i>
  </div>
</div>






<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel2">Carro de compras</h4>
        </div>

        <div class="modal-body">
          <div id="cart">

          </div>
        </div>
          <div class="modal-footer">
            <a href="/cart" class="btn btn-info btn-raised">Detalles</a>
          </div>
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
  

<script id="cart-item-template" type="text/x-handlebars-template">
<div class="cart-item">
  <div class="row">
    <div class="col-sm-3 col-xs-3">
      <img src="{{image}}" alt="" class="img-responsive">
    </div>
    <div class="col-sm-7 col-xs-7">
      <div class="details">
        <p class="name">{{name}}</p>
        <p class="">${{price}}</p>
      </div>
    </div>
    <div class="col-xs-1">
    <div class="btn btn-warning btn-fab btn-fab-mini cerrar">
      <i class="material-icons">close</i>
    </div>
  </div>
</div>
</div>
</script>


    
  </body>
</html>
